.button-filter {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  border: 1px solid transparent;
  min-width: 73px;

  color: var(--title-text-color);
  background-color: var(--button-background-color);
  font-family: inherit;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  vertical-align: Top;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.08),
      0 3px 1px rgba(0, 0, 0, 0.1);
  }
}

.btn-list,
.project-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn-list {
  justify-content: center;
  column-gap: 8px;
  margin-bottom: 50px;
}
