.feature-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.feature-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: var(--secondary-background-color);
  margin-bottom: 30px;
}

.feature-list__title {
  padding: 0;
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  vertical-align: top;
}

.feature-list__text {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  vertical-align: top;
}

@media screen and (min-width: 768px) {
  .feature-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
  .feature-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .feature-list__item:not(:last-child) {
    margin-bottom: 0;
  }
  .feature-list__icon {
    width: 354px;
  }

  .feature-list__title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .feature-list {
    flex-wrap: nowrap;
  }

  .feature-list__item {
    flex-basis: calc((100% - 90px) / 4);
  }

  .feature-list__icon {
    width: 270px;
  }
}
