.project-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.project-card:not(:last-child) {
  margin-bottom: 30px;
}

.project-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0 4px 4px rgba(0, 0, 0, 0.06),
      0 1px 1px rgba(0, 0, 0, 0.12);
  }
}
.project-aside {
  position: relative;
  overflow: hidden;
}

.project-desc {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);

  height: 100%;
  width: 100%;
  overflow: auto;
  margin: 0;
  padding: 77px 24px;

  background-color: rgba(33, 150, 243, 0.9);
  color: var(--secondary-text-color);
  font-weight: 400px;
  font-size: 18px;
  line-height: 1.56;
  text-align: left;
  vertical-align: top;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .project-link:hover &,
  .project-link:focus & {
    transform: translateY(0);
  }
}

.project-name {
  padding: 20px 24px;
  border-right: 1px solid var(--border-card-color);
  border-bottom: 1px solid var(--border-card-color);
  border-left: 1px solid var(--border-card-color);
}
.project-title {
  padding: 0;
  margin: 0 0 4px 0;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  vertical-align: Top;
  letter-spacing: 0.06em;
}

.project-text {
  padding: 0;
  margin: 0;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
  vertical-align: Top;
}

@media screen and (min-width: 768px) {
  .project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .project-card {
    flex-basis: calc((100% - 30px) / 2);
  }
  .project-card:not(:last-child) {
    margin-bottom: 0;
  }
  .project-link {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .project-desc {
    padding: 49px 24px 77px 24px;
  }

  .project-name {
    flex-grow: 1;
  }
}

@media screen and (min-width: 1200px) {
  .project-card {
    flex-basis: calc((100% - 60px) / 3);
  }

  .project-desc {
    padding: 63px 24px;
  }
}
