.hero__btn {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 24px;
  border: none;
  min-width: 200px;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: Center;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1200px) {
  .hero__btn {
    padding: 10px 32px;
    min-width: 216px;
  }
}
