.logo {
  color: var(--logo-header-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-align: Left;
  vertical-align: Top;
  padding: 0;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  line-height: 1.19;
  }
}



.logo__name,
.logo-footer__name {
  color: var(--accent-color);
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--secondary-text-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-align: Left;
  vertical-align: Top;
}